body {
    color: #707676;
}
.t-f{
    color: #FFF !important;
}
.adv a img, .adv img{
    text-align: center;
    display: inherit;
}
.adv{
	padding-bottom: 20px;
}
.home-top{
    padding: 2rem;
    background: #fff;
    border-bottom: solid 1px #009877;
    margin-bottom: 0rem;
}
.bg-f{
	background-color: #fff;
}
a.h-off:hover{
	text-decoration: none;
}

.master-search .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.master-search .input-group-btn .btn-group {
    display: flex !important;
}
.master-search .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.master-search .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.master-search .btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.master-search .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.master-search .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    .master-search #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .master-search .dropdown.dropdown-lg {
        position: static !important;
    }
    .master-search .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
.b-b{
	border-bottom: 2px solid #E7EDEE;
}
ul.cat-list li{
	padding: 5px 0px;
}
.search-part{
	margin-bottom: 25px;
}
ul.user-ad-list li{
	border: 1px solid #E7EDEE;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #E7EDEE;
}
ul.user-ad-list li .media-heading{
	font-size: 18px;

}
ul.user-ad-list li .media-object{
	border: 2px solid #ccc;
}
ul.user-ad-list li .media-object:hover{
	opacity: 0.8;
}
.update-time{
	position: absolute;
	right: 0;
	bottom: 0;
}
ul.user-ad-list li .media{
	position: relative;
}
.city-list, .division-list{
    text-align: right;
}
ul.dash-menu li a i{
    float: right;
}
ul.dash-menu li a{
    display: block;
    padding: 12px;
    font-size: 18px;
    text-decoration: none;
}
ul.dash-menu li{
    border-bottom: 1px solid #ccc;
}
.dash-n-h{
    border-bottom: 1px solid  #d4ded9;
}
.dash-n-b{
    text-align: center;
    padding-top: 50px;
}
.btn1{
    color: #fff;
    background: #009877;
    -webkit-box-shadow: 0 2px 0 #d4ded9;
    box-shadow: 0 2px 0 #d4ded9;
    text-shadow: 0 1px 0 #007168;
    
}
.l-l .media .media-body{
    vertical-align: middle;

}
.l-l .media{
    margin-bottom: 30px;
}
.active-menu{
    color: #000;
    font-weight: bold;
}
.btn-profile{
    color: #424e4e;
    background: #f3f6f5;
    -webkit-box-shadow: 0 2px 0 #e7edee;
    box-shadow: 0 2px 0 #e7edee;
    text-shadow: 0 1px 0 #fff;
    border: 1px solid #d4ded9;
    padding: 10 24px;
}
.btn-profile:hover{
    background: #edf1f0;
    background: -webkit-linear-gradient(#fafcfb,#dfe6e4);
    background: linear-gradient(#fafcfb,#dfe6e4);
    color: #424e4e;
}
.btn-smart{
    color: #fff;
    background: #d95e46;
    -webkit-box-shadow: 0 2px 0 #d4ded9;
    box-shadow: 0 2px 0 #d4ded9;
    text-shadow: 0 1px 0 #691f1a;
}
ul.ul-style li{
    padding-top: 3px; padding-bottom: 3px;
}
.link-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.n-card{
    padding-top: 20px;
    padding-bottom: 20px;
}
.c-b{
    color: #000;
}
.btn-important1{
    color: #673500 !important;
    background: #ffd972;
    text-shadow: 0 1px 0 #ffee96;
    background: #ffca5e;
    background: -webkit-linear-gradient(#ffd972,#ffba49);
    background: linear-gradient(#ffd972,#ffba49);
    -webkit-box-shadow: 0 1px 2px 0 #004137;
    box-shadow: 0 1px 2px 0 #004137;
    padding-top: 10px !important; 
    padding-bottom: 10px !important;

}
.boxed-area {
    min-height: 280px;
}
.boxed-area {
    position: relative;
    padding: 2.5rem 1.5rem 2rem;
    border: solid 2px #d4ded9;
    border-radius: 4px;
}
.boxed-area .box-title {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 1rem;
    background: #fff;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.ui.electronics {
    background-position: 0 -54px;
}
.ui-sprite {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-image: url(categories-18-1x-018c0354.png);
}
.ui.vehicles {
    background-position: 0 -270px;
}
.ui.property {
    background-position: 0 -234px
}
.ui.services {
    background-position: 0 -252px;
}
.ui.home {
    background-position: 0 -126px;
}
.ui.fashion {
    background-position: 0 -72px;
}
.ui.hobby {
    background-position: 0 -108px;
}
.ui.business {
    background-position: 0 -18px;
}
.ui.education {
    background-position: 0 -36px;
}
.ui.animals {
    background-position: 0 0;
}
.ui.food {
    background-position: 0 -90px;
}
.ui.other {
    background-position: 0 -198px;
}
ul.cat-list>li>a>span{
    margin-right: 5px;
}
ul.ul-style1 li{
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul li.scat-list{
    cursor: pointer;
    color: #054025;
}
.cat-title i{
  vertical-align: middle; padding-left: 5px; padding-right: 5px;

}
.cat-title{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.heading{
    color: #000;
    font-size: 22px;
    line-height: 30px;
}
.ad-detail .form-group{
    margin-bottom: 20px;
}
.remove_field{
    color: red;
    cursor: pointer;
}
.ads-nfo strong{
    color: #000;
}
.btn-shadow{
    color: #FFF !important;
    text-shadow: 0 1px #007168;
    background: #007168;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25)inset;
    box-shadow: 0 1px 3px rgba(0,0,0,.25)inset;
    margin: 12px 12px;
    padding: 4px 16px !important;
    border-radius: 29px;
    line-height: 20px;
    height: 28px;
}
a.btn-shadow:focus{
    color: #000 !important;
}
.is-mt-12 {
    margin-top: 12px;
}
.ui-steps {
    font-size: .9286rem;
    margin: 0 0 20px;
}
.ui-steps {
    list-style: none;
    padding: 0;
}
.ui-steps>li.is-current:first-child {
    text-align: left;
}
.ui-steps>li.is-past, .ui-steps>li.is-current {
    padding-bottom: 7px;
}
.ui-steps>li.is-past, .ui-steps>li.is-current {
    border-bottom: solid 3px #009877;
}
.ui-steps.has-4>li {
    width: 25%;
    margin-right: -5px;
}
.ui-steps>li {
    padding: 0 0 9px;
}
.ui-steps>li {
    display: inline-block;
    text-align: center;
    border-bottom: solid 1px #afb7ad;
}
.ui-steps>li {
    position: relative;
}
.ui-steps>li.is-current>.steps-title {
    color: #2f3432;
}
.ui-steps .steps-title {
    margin: 0;
    color: #afb7ad;
}
.ui-steps>li.is-current:first-child span {
    margin-left: 17%;
}
.ui-steps>li.is-current>.steps-title>.label {
    display: inline;
}
.ui-steps>li.is-current:first-child span {
    margin-left: 17%;
}
.ui-steps>li.is-current:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 0;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 4px #009877;
    margin-left: -5px;
}
.ui-steps>li.is-current:first-child:after {
    left: 20%;
}
.ui-steps>li.is-current>.steps-title {
    color: #2f3432;
}
.ui-steps {
    font-size: 18px;
    margin: 0 0 20px;
}
.membership-bg{
    background: #fff url(//w.bikroy-st.com/dist/img/all/marketing/clouds-87cbb9c8.png) repeat-x 0 0;
    background-size: 320px 150px;
}
.panel-heading-01 {
    background-color: #546e7a !important;
    color: #ffffff !important;
}
.applicantsName {
    background: #ffffff;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: #333399;
    padding-left: 2px;
    padding-top: 16px;
    padding-bottom: 3.5px;
}
.ui-price-tag {
    position: relative;
    z-index: 1;
    display: inline-block;
    color: #2f3432;
    background: #ffc800;
    border: solid 1px #dcb300;
    border-width: 1px 0;
}
.ui-price {
    position: relative;
    padding: .4rem 0;
    overflow: hidden;
}
.ui-price-tag {
    padding: .6rem 2.5rem .6rem 1.5rem;
    -webkit-box-shadow: 0 3px #e7edee;
    box-shadow: 0 3px #e7edee;
}
.ui-price-tag .r1, .ui-price-tag .r2, .ui-price-tag .r3 {
    content: '';
    border-top: solid 1.44rem transparent;
    border-bottom: solid 1.44rem transparent;
}
ui-price-tag .r2 {
    top: 0;
    border-top-width: 1.368rem;
    border-right: solid 1.368rem #e7edee;
    border-bottom-width: 1.368rem;
}
.ui-price-tag .r1, .ui-price-tag .r2, .ui-price-tag .r3 {
    content: '';
    border-top: solid 1.44rem transparent;
    border-bottom: solid 1.44rem transparent;
}
.ui-price-tag .r1, .ui-price-tag .r2, .ui-price-tag .r3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
}
.ui-price-tag .r3 {
    top: 4px;
    border-top-width: 1.224rem;
    border-right: solid 1.224rem #fff;
    border-bottom-width: 1.224rem;
}



#cityArea li span{
    color: red;
}
.location-active{
    color: #000;
    font-weight: bold;
}